<%
    var amount = 0; 
    txbody.out.forEach(function(item){
        amount+=item.amount
    });

    var date2s = function(timestamp){
        var date = new Date(timestamp * 1000);
        return  ('0' + date.getDate()).slice(-2) + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + date.getFullYear() + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
    }
                
%>


    <form class='no-scoll-y no-scoll-x'>

        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Hash
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <input type='text' class='form-control' value='<%=txbody.hash%>' readonly disabled>
            </div>

        </div>

        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Time (of first confirmation)
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>
                    <%=date2s(txbody.time)%>
                </p>
            </div>

        </div>

        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Status
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext '>
                    <%if (txbody.confirmation){%>
                        <span class='<%=txbody.confirmation>=6?"green":"red"%>'>
                <%=txbody.confirmation%> confirmations</span>
                        <%}else{%>
                            <span class='red'>not confirmed</span>
                            <%}%>
                </p>
            </div>

        </div>

        <!-- <%if (txbody.fromBlock){%> -->
        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Block
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext '>
                    <i class='fa fa-link'></i>
                    <a href="#" title='block <%=txbody.fromBlock%>, show in explorer' onclick='return send("navigate", {link: "http://orwellscan.org/block/<%=txbody.fromBlock%>#<%=txbody.hash%>"});'>
                        <%=txbody.fromBlock.split("00").join("").slice(0, 8)%>... tx
                            <%="#"+txbody.fromIndex%>
                    </a>
                </p>
            </div>

        </div>
        <!-- <%}%> -->


        <!-- <%if (!txbody.coinbase){%> -->
        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Inputs amount
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>
                    <%
                var in_amount = 0; 
                for (var i in inputs){
                    if (inputs[i] == -1)
                        continue;
                    in_amount+=inputs[i].amount
                };%>

                        <%if (in_amount> 0){%>
                            <%=parseFloat(in_amount/1e8).toFixed(9)%> Orwl
                                <% }else { %>
                                    <%=parseFloat((amount+txbody.fee)/1e8).toFixed(9)%> Orwl
                                        <%}%>
                </p>
            </div>

        </div>
        <!-- <%} else {%> -->
        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Coinbase
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>
                    <i class='fa fa-sitemap'></i> This transaction is coinbase (have mining reward input only)
                    <%=parseFloat((amount)/1e8).toFixed(9)%> Orwl
                </p>
            </div>

        </div>
        <!-- <%}%> -->

        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Output amount
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>


                    <%=parseFloat(amount/1e8).toFixed(9)%> Orwl
                </p>
            </div>

        </div>

        <div class='row'>

            <div class='col-12 col-sm-3 col-form-label'>
                Size
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>
                    <%=parseFloat(txbody.length/1024).toFixed(2)%> kB
                </p>
            </div>

        </div>

        <div class='row'>
            <div class='col-12 col-sm-3 col-form-label'>
                Fee
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <p class='form-control-plaintext'>
                    <%var perb = parseInt(txbody.fee/txbody.length)%>
                        <%=parseFloat(txbody.fee/1e8).toFixed(9)%> Orwl<br/>
                            <% 
                        var col = 'green', t = 'small';
                        if (perb >= 20 && perb<50){
                            col = 'yellow'; t = 'medium'
                        } else if (perb >= 50) {
                            col = 'red'; t = 'large';
                        }
                        %>
                                <span class='<%=col%>'><%=" "+perb+" sat/byte ("+t+")"%></span>
                </p>
            </div>

        </div>

        <!-- <%if (txbody.coinbase){%> -->
        <div class='row'>
            <div class='col-12 col-sm-3 col-form-label'>
                Inputs (1)
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <div class='tx-vectors'>
                    <i class='fa fa-sitemap'></i>
                    <%=parseFloat((amount)/1e8).toFixed(9)%> Orwl
                        <div>
                            Mining reward for finded block
                        </div>
                </div>
            </div>

        </div>
        <!-- <%}else{%> -->
        <div class='row'>
            <div class='col-12 col-sm-3 col-form-label'>
                Inputs
                <%="("+txbody.in.length+")"%>
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <% txbody.in.forEach(function(item){%>
                    <div class='tx-vectors'>
                        <%if (inputs[item.hash+":"+item.index] && inputs[item.hash+":"+item.index] instanceof Object){%>
                            <%=parseFloat(inputs[item.hash+":"+item.index].amount/1e8).toFixed(9)%>
                                <%}%>

                                    <div>
                                        <%=item.hash.slice(0, 8)+".."+item.hash.slice(-8)+":"+item.index%>
                                    </div>
                                    <span class='muted'>
                                <i class='fa fa-map-marker'></i>
                    <%=item.prevAddress%>
                        </span>
                    </div>
                    <%})%>
            </div>

        </div>
        <!-- <%}%> -->

        <div class='row'>
            <div class='col-12 col-sm-3 col-form-label'>
                Outputs
                <%="("+txbody.out.length+")"%>
            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>
                <% for (var i in txbody.out){%>
                    <div class='tx-vectors'>
                        <div class=''>
                            <%=parseFloat(txbody.out[i].amount/1e8).toFixed(9)%>
                                <span class='muted'>
                                <%=
                                i==txbody.out.length-1 ? 'change':''
                                %>
                            </span>
                        </div>
                        <span class='muted'>
                                <i class='fa fa-map-marker'></i>
                                <%=txbody.out[i].addr%>
                            </span>
                    </div>
                    <%}%>
            </div>

        </div>

        <div class='row'>
            <div class='col-12 col-sm-3 col-form-label'>

            </div>
            <div class='col-10 offset-2 col-sm-9 form-content'>

                <button onclick='return send("navigate", {link: "http://orwellscan.org/tx/<%=txbody.hash%>"}); ' class='btn btn-success'><i class='fa fa-link'></i> show in explorer</button>
                <button onclick='return send("popup.close", {id: window.pageId});' class='btn btn-default'><i class='fa fa-times'></i> cancel</button>

            </div>

        </div>



    </form>